@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}

body {
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('https://images.unsplash.com/photo-1582436416930-f533b50a7cd8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d29ybGQlMjB0cmFkZSUyMGNlbnRlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1600&q=60')no-repeat;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  padding: 1.2em;
  font-size: 1.3em;
  color: #e5ff00;
  font-weight: bolder;
  letter-spacing: 1px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav li {
  list-style: none;
}

.nav li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.3em;
  margin: 1em;
  color: #e5ff00;
}

.nav li a:hover {
  color: #46ffe6;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 300px auto;
}

h1 {
  color: #e5ff00;
  margin-bottom: .4em;
  letter-spacing: 1px;
  word-spacing: 3px;
}

p {
  margin-bottom: 1.8em;
  color: #46ffe6;
  font-size: 1em;
  letter-spacing: 2px;
  word-spacing: 3px;
  padding: 1em 2em;
  line-height: 1.5;
}

button {
  background: #e5ff0057;
  color: #fff;
  padding: 12px 45px;
  font-size: 1.2em;
  border: none;
  letter-spacing: 2px;
  word-spacing: 3px;
  transition: all .5s ease;
}

button:hover {
  transform: translateY(10px);
  background: #468dff59;
  border-radius: 25px;
}
